<!DOCTYPE HTML>
<html>
<head> 
    <title>Snap Screen Supervisor</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Snap Screen&trade; Supervisor</h1>
	
	<p>The current version requires the supervisor to have a Dropbox account. It is quick and easy to get one for free if you don't have one already.</p>
	
	<a href="{% url 'social:begin' 'dropbox-oauth2' %}?next={{ next }}">Login using Dropbox</a>
	
	<div>
		Dropbox status: Disconnected
	</div>

	<hr/>

	<p>Dropbox and the Dropbox logo are trademarks of Dropbox, Inc. Snap Screen&trade; App is not affiliated with or otherwise sponsored by Dropbox, Inc.</p>
</body>
</html>