<!DOCTYPE HTML>
<html>
<head> 
    <title>Serafino Software Login</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'web/content.css' %}"/>
</head>
<body>
	<div id="content">
		<h1>Serafino Software&trade; Login</h1>
	
		<p>
			The current version requires login using a Dropbox account. It is quick and easy to get one for
		 	free if you don't have one already.
		</p>

		<div>
			<a class="button" href="{% url 'social:begin' 'dropbox-oauth2' %}?next=/supervisor/">Login to Snap
			 Screen&trade; using Dropbox</a>
		</div>
		<div>
			<a class="button"
		 	 href="{% url 'social:begin' 'dropbox-oauth2' %}?next=/open_software_market/project/list/">Login to Open
		 	 Software Market&trade; using Dropbox</a> (may also display as "Snap Screen App&trade;")
		</div>

		<p>
			<a class="button" href="http://www.SerafinoSoftware.com">More Information</a>
		</p>

		<hr/>

		<p>
			Dropbox and the Dropbox logo are trademarks of Dropbox, Inc. Serafino Software&trade; is not affiliated with
			or otherwise sponsored by Dropbox, Inc.
		</p>
	</div>		
</body>
</html>