<!DOCTYPE HTML>
<html>
<head> 
    <title>Snap Screen Supervisor</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Snap Screen&trade; Supervisor</h1>

	<p>(v1.3.0) Standard Edition - Free, limited to 1000 snaps per month maximum.</p>
	<!-- 
	<p>Snaps so far this month: </p>
	<p>Activate Premium Edition - No monthly snap limit. $5 per month</p>
	<p>Premium Edition Active - No monthly snap limit. $5 per month. Expires: </p>
	 -->

	<p>
		<a href="/accounts/logout/?next=/supervisor/">Logout</a>
	</p>

	<p>
		<a href="/viewer-connection-callback/">View Supervisor ID</a> (Keep secret)
	</p>

	<div>
		Dropbox status: Connected
	</div>
	<a href="https://www.dropbox.com/home/Apps/Snap Screen App%E2%84%A2">View Screenshots in Dropbox</a>

	<p></p>

	<!-- 
	<p>Snaps so far this month: </p>
	 -->

	<hr/>

	<p>Dropbox and the Dropbox logo are trademarks of Dropbox, Inc. Snap Screen&trade; App is not affiliated with or otherwise sponsored by Dropbox, Inc.</p>
</body>
</html>