<!DOCTYPE HTML>
<html>
<head> 
    <title>Snap Screen Supervisor</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Snap Screen&trade; Supervisor</h1>

	{% if premium_edition_active %}
		<p>Premium Edition Active - No monthly snap limit. $5 per month. Expires: {{ supervisor_status.premium_expiration }}</p>
	{% else %}
		<p>(v1.3.0) Standard Edition - Free, limited to 1000 snaps per month maximum.</p>
		<p>
			{% if activity_within_standard_edition_limit %}Active{% else %}Deactivated because limit reached.{% endif %}
		</p>
		<!-- 
		<p>Snaps so far this month: </p>
		-->
		<p><a href="https://goo.gl/forms/og6RtqN0j4kUPas33">Activate Premium Edition</a> - No monthly snap limit. Includes email support. $5 per month</p>
	{% endif %}

	<p>
		<a href="/accounts/logout/?next=/supervisor/">Logout</a>
	</p>

	<p>
		<a href="/viewer-connection-callback/">View Supervisor ID</a> (Keep secret)
	</p>

	<div>
		Dropbox status: Connected
	</div>
	<a href="https://www.dropbox.com/home/Apps/Snap Screen App%E2%84%A2">View Screenshots in Dropbox</a>

	<p></p>

	{% if premium_edition_active %}
		<p><a href="https://goo.gl/forms/SJIf8QeCBGxoS4nP2">Contact for Help</a></p>

		<!-- 
		<p>Snaps so far this month: </p>
		 -->
	{% endif %}
	<hr/>

	<p>Dropbox and the Dropbox logo are trademarks of Dropbox, Inc. Snap Screen&trade; App is not affiliated with or otherwise sponsored by Dropbox, Inc.</p>
</body>
</html>